<h2>{{ user.name }}</h2>
<p>{{ user.email }}</p>
{{ description }}
<button class="btn">Modifier</button>

<form (ngSubmit)="edit()" [formGroup]="editForm">
    <input type="text" class="form-control"  [(ngModel)]="user.name" formControlName="name">
    <input type="text" class="form-control" formControlName="email">
    <button class="btn">Editer</button>
</form>