<h1>Utilisateurs:</h1>
<p>
    Filtre: {{ search }}  <!-- affiche ce qui est tapé dans la barre de recherche -->
</p>

<select [(ngModel)]="lang">
    <option value="">Tous</option>
    <option *ngFor="let extension of extensions">{{ extension }}</option>
</select>
{{ 'test' | plurial:nbSelected }} <!-- la pipe plurial est définie dans shared/pipes/plurial.pipe.ts -->
<select [(ngModel)]="nbSelected">
        <option>0</option>
        <option>1</option>
        <option>2</option>
</select>
<button (click)="createUser()">Créer</button>
<div class="user-group">
   <app-user *ngFor="let user of users | userfilter:lang" [user]="user"></app-user>
</div>