<div class="container">
   <h1>Login</h1>
   <!-- formGroup lie le formulaire a une propriété du composant -->
   <form (ngSubmit)="login()" [formGroup]="myForm">
        <!-- ici lmes valiateurs ne se fotn plus via les atrr html5-->
        <div *ngIf="send  && myForm.invalid">
                Erreur
                <div *ngIf="propEmail.hasError('letter')" class="alert alert-danger">Lettre {{ propEmail.errors.letter }} interdit</div><!-- letter correspond à la clé défini dans le validatoeur forbiden -->
                <div *ngIf="propEmail.hasError('required')" class="alert alert-danger">Email requis</div>
                <div *ngIf="propEmail.hasError('minlength')" class="alert alert-danger">{{ propEmail.errors.minlength.requiredLength }} caractères requis</div>
                <div *ngIf="propEmail.hasError('checkEmail')" class="alert alert-danger">Email déja pris</div>
        </div>
       <div class="form-group">
           <label for="">Email</label>
           {{ email }}
           <input name="email" type="text" class="form-control" [formControl]="propEmail">
       </div>
       <div class="form-group">
           <label for="">Mot de pass</label>
           <input name="password" type="text" class="form-control" [formControl]="propPassword">
       </div>
       <button class="btn">Envoyer</button>
   </form>
</div>