<input type="text" [title]="title"  [formControl]="propSearch">
<button *ngIf="username" class="btn btn-success" (click)="searchSubmit($event, 'hello')">Go</button>
<ul>
  Total: {{ names.length }}
  <li *ngFor="let name of names | autocomplete:propSearch.value; let i = index; let isFirst = first; let isLast = last; let isOdd = odd; let isEven = even">{{ i }}) {{ name }} - {{ isFirst }} / {{ isLast }}/ {{ isOdd }} / {{ isEven }}</li>
</ul>