<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ user.name | uppercase }}</h5>
        <p>
        <span>{{ user.email }}</span>
        <button (onConfirm)="delete()" confirm="Etes vpous sur de vous supp l'user?" [userName]="user.name">{{ 'REMOVE' | lang:'fr' }}</button>
        <!-- ici routerLink entre [ ] car c'est dynamique-->
        <button [routerLink]="['user', user.id]">Modifier</button><!-- la directive routerLink en marche que si on importe  RouterModule dans home.module.ts -->
        </p>
    </div>
</div>