<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">{{ title }}  {{ price | currency:'EUR':'code':null:'fr' }}</a>
        {{ now | date:'short':false:'fr' }}
        <ul class="navbar-nav">
          <li class="nav-item">
             <a class="btn" routerLink="/login">Login</a>
             <a class="btn" (click)="logout()">Logout</a>
          </li>
        </ul>
        <app-search [username]="name" (onSearch)="listenSearch($event)"></app-search>
     </nav>